#square {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-color: #202020;
    position: relative;
    padding: 0;
    margin: 10px 0;
}

#square_space {
    border: 6px dashed #202020;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}